Package: enigma2-plugin-cam-oscam-dmod
Version: 7963_V7.02
Description: Oscam V13 V14 S02 G02 HD+ SRG ORF
Section: misc
Architecture: all
Priority: optional
Maintainer: gigabluesupport.org arn354
Homepage: 
Depends: enigma2
Source: 
